@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CALIOPE</h1>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/Images/chambaray.jpg" alt="Shirt" style="width:150px; height:150px;"/>
            <h2>GET STYLISH WITH TOPS</h2>
            <p><a class="btn btn-default" href="~/Views/Tops/Index.cshtml">Pick your Top &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/Images/printedpants.jpg" alt="Pants" style="width:150px; height:150px;"/>
            <h2>TURN HEADS WITH YOUR PANTS</h2>
            <p><a class="btn btn-default" href="~/Views/Bottoms/Index.cshtml">Pick your Bottoms &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/Images/corkheel.jpg" alt="Shoes" style="width:150px; height:150px;"/>
            <h2>MAKE A STATEMENT WITH SHOES</h2>
            <p><a class="btn btn-default" href="~/Views/Shoes/Index.cshtml">Pick your Shoes &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/Images/crystalnecklace.jpg" alt="Necklace" style="width:150px; height:150px;"/>
            <h2>ADD A FINAL TOUCH WITH ACCESSORIES</h2>
            <p><a class="btn btn-default" href="~/Views/Accessories/Index.cshtml">Pick your Accessories &raquo;</a></p>
        </div>
        </div>
</div>